.trending{
    top: 15vh;
    position: relative;
    display: flex;
    flex-direction: column;
    /* margin-top: 2rem; */
    text-align: center;
    /* justify-content: center; */
gap: 1vh;
height: max-content;
    align-items: center;
    width: 100vw;
}
.trending-p{
    font-size: larger;
    font-family: 'Poppins', sans-serif;
font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
}
.icon-fire{
    color: red;
}

.content{
    height: 130vh;
    width: 100vw;
    display: flex;
    align-items: center;
   padding: 1vh 1vw;
}
@media (min-width: 768px) and (max-width: 991px) {
        
}


